@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --off-white-text: #fafafacc;
  --red-cinnabar: #F24333;
  --pale-red-orange: #EE964B;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --baskerville: var(--font-baskerville);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.banner {
  border: 1px solid red;
  overflow-x: hidden
}

.qt-footer {
  background: #fff;
}
.qt-footer-nav {
  background: #476C9B;
  overflow: hidden;
}